@import url(//netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.css);

.contentWrapper {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas: "viewContent poeATreeContent sidebarContent";
    justify-items: start;
    grid-column-gap: 40px;
    grid-row-gap: 60px;
}

.viewContent {
    min-width: 300px;
    grid-area: viewContent;
    position: relative;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.6);
    background-color: #fff;
    padding: 16px;
    display: flex;
    flex-direction: column;
    overflow: auto;
}

.sidebarContent {
    grid-area: sidebarContent;
    position: relative;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.6);
    background-color: #fff;
    padding: 16px;
    display: flex;
    flex-direction: column;
    max-height: 500px;
    min-width: 170px;
    overflow: auto;
}

.poeATreeContent {
    grid-area: poeATreeContent;
    position: relative;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.6);
    background-color: #fff;
    padding: 16px;
    display: flex;
    flex-direction: column;
    max-height: 500px;
    overflow: auto;
}

input[type=radio] {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

input[type=radio] ~ label:before {
    font-family: FontAwesome;
    display: inline-block;
    content: "\f1db";
    letter-spacing: 10px;
    font-size: 1.2em;
    color: #535353;
    width: 1.2em;
}

input[type="radio"]:checked + label {
    color: #004c97;
    content: "\f00c";
    font-size: 1.2em;
}

input[type="radio"]:focus {
    color: #004c97;
}


@media (max-width: 1000px) {
    .contentWrapper{
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto;
        grid-template-areas: "viewContent sidebarContent"
        "poeATreeContent poeATreeContent";
        justify-items: start;
        grid-column-gap: 40px;
        grid-row-gap: 60px;
    }
}

@media (max-width: 600px) {
    .viewContent{
        width: 85%;
    }
    .sidebarContent{
        width: 85%;
    }
    .poeATreeContent{
        width: 85%;
    }
    .contentWrapper{
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: auto;
        grid-template-areas: "sidebarContent"
        "viewContent"
        "poeATreeContent";
        justify-items: center;
        grid-column-gap: 40px;
        grid-row-gap: 60px;
    }
}
