.mainWrapper{
    display:grid;
    grid-template-columns: auto;
    grid-template-rows:auto;
    grid-template-areas: 
        "header"
        "contentMain";
    justify-items: start;
    grid-column-gap: 40px;
    grid-row-gap: 60px;
    /*border: 2px solid red;*/
}


.nav{
    grid-area: header;
    width: 100%;
}
.nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
.nav li{
    float: left;
}

.nav li a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.nav li a:hover{
    background-color: #111;
    color:white;
}


.nav li a.active{
    background-color: #004c97;
    color:white;
}
