.contentWrapper{
    display:grid;
    grid-template-columns: auto 30% 20%;
    grid-template-rows:auto;
    grid-template-areas:
            "tittttle tittttle tittttle"
            "viewContent poeATreeContent sidebarContent"
            "musicElm musicElm musicElm";
    justify-items: start;
    grid-column-gap: 40px;
    grid-row-gap: 60px;/*
    border: 2px solid blue;*/
    box-shadow: 0 10px 20px orangered;
}

.tittttle{
    grid-area: viewContent;
    position: relative;
    color: #333333;
    box-shadow: 0 10px 20px green;
    background-color: #fff;
}

.viewContent{
    grid-area: viewContent;
    position: relative;
    box-shadow: 0 10px 20px rgba(0,0,0,0.6);
    background-color: #fff;
    padding: 16px;
    display:flex;
    flex-direction: column;
}
.sidebarContent{
    grid-area:sidebarContent;
    position: relative;
    box-shadow: 0 10px 20px rgba(0,0,0,0.6);
    background-color: #fff;
    padding: 16px;
    display:flex;
    flex-direction: column;
    max-height: 500px;
    overflow: auto;
}
.poeATreeContent{
    grid-area:poeATreeContent;
    position: relative;
    box-shadow: 0 10px 20px rgba(0,0,0,0.6);
    background-color: #fff;
    padding: 16px;
    display: flex;
    flex-direction: column;
    max-height:500px;
    overflow: auto;
}

.musicElm{
    grid-area: musicElm;
    position: relative;
}