.wrapper{
    display:grid;
    grid-template-columns: 20% 20% 25% 25%;
    grid-template-rows:auto;
    grid-template-areas: 
        "header header header header"
        "main main info sidebar";
    justify-items: start;
    grid-column-gap: 40px;
    grid-row-gap: 60px;
}